<% layout('../layout/default') -%>
<div class="wrapper">
    <%- include ../modules/nav.html %>
    <article>
        <h1>The Grunt buildscript explained</h1>
        <p>First, make sure you have a basic understanding of what Grunt does, go read the Grunt
            <a href="http://gruntjs.com/getting-started" target="_blank">Getting Started</a> guide.</p>

        <h2>The default task</h2>
        <p>The build task, does several things in the following order: Sass compilation, copying
            all the files into the <code>build/</code> directory, minifying javascript (with UglifyJS),
            and removing the EJS includes, replacing them with the actual html.</p>

        <h2>The test task</h2>
        <p>This task runs both JSHint and Jasmine, in that order. You can find the configuration
            for JSHint in the file <code>.jshintrc</code> The Jasmine specs are located in
            <code>/src/static/js/spec/</code></p>

        <h2>The zip task</h2>
        <p>This task zip's the entire <code>build/</code> directory. The default build has
            to be ran first. This one is based on the <code>grunt-contrib-compress</code> npm
            module.</p>

        <h2>The deploy task</h2>
        <p>This task is based on the <code>grunt-ftp-deploy</code> npm package. The task uploads
            the entire content of the <code>build/</code> directory to the ftp server. Hence,
            it can't upload anything if you didn't run the build first.</p>
        <p>For it to work, you need to enter your credentials in the <code>.ftppass</code>
            file, and your ftp server info in the <code>config.json</code> file.</p>
    </article>
    <%- include ../modules/footer.html %>
</div>
