<% layout('../layout/default') -%>
<div class="wrapper">
    <%- include ../components/nav.html %>
    <article>
        <h1>The Grunt buildscript explained</h1>
        <p>First, make sure you have a basic understanding of what Grunt does, go read the Grunt
            <a href="http://gruntjs.com/getting-started" target="_blank">Getting Started</a> guide.</p>

        <h2>The process</h2>
        <p>todo</p>

        <h2>The zip task</h2>
        <p>todo</p>

        <h2>Notes about minification</h2>
        <p>todo</p>
    </article>
    <%- include ../components/footer.html %>
</div>
