$gutter: 20px;

.wrapper {
    @include rem(max-width, 500px);
    width: 90%;

    margin: 0 auto;
    @include rem(padding, $gutter);

    @include respond-min(60em) {
        @include rem(padding, $gutter * 2);
    }
}
