$bodycopy: #333;
$linkblue: royalblue;

body {
    font-size: 18px;
    color: $bodycopy;
    font-family: Constantia, Baskerville, Georgia, serif;
    @include old-ie {
        font-family: monospace;
    }
}
a {
    color: $linkblue;
}

h2 {
	font-size: 1em;
}