//
// Colors
//
$bodycopy: #333;
$linkblue: royalblue;

//
// Defaults
//
html {
    font-size: 62.5%;
}
body > .wrapper { // quick fix for chrome bugs #320754, #296380, #319623, just 'body' would suffice normally
    @include rem(font-size, 18px);
    color: $bodycopy;
    font-family: Constantia, Baskerville, Georgia, serif;
    @include old-ie {
        font-family: monospace;
    }
}
p {
    margin-top: 0;
}

//
// Headers
//
h1,
h2 {
    @include rem(margin-bottom, 10px);
}
h1 {
    @include rem(font-size, 24px);
}
h2 {
    @include rem(font-size, 20px);
}

//
// Links
//
a {
    color: $linkblue;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

//
// Lists
//
ul {
    padding-left: 0;

    li {
        @include rem(margin-bottom, 5px);
        @include rem(padding-left, 40px);
        list-style: none;

        // Example of a SVG-PNG fallback
        @include rem(background, url('/static/img/arrow-ltr-black.svg') no-repeat 15px 5px);
        @include old-ie {
            background-image: url('/static/img/arrow-ltr-black.svg.10x15.png');
        }
    }
}
