$bodycopy: #333;
$linkblue: royalblue;

html {
    font-size: 10px;
}
body {
    @include rem(font-size, 18px);
    color: $bodycopy;
    font-family: Constantia, Baskerville, Georgia, serif;
    @include old-ie {
        font-family: monospace;
    }
}

a {
    color: $linkblue;
}

h2 {
    @include rem(font-size, 16px);
}

ul {
    padding-left: 0;

    li {
        @include rem(margin-bottom, 5px);
        @include rem(padding-left, 40px);
        list-style: none;

        background: url('/static/img/arrow-ltr-black.svg') no-repeat rem(15px 5px);

        @include old-ie {
            background-image: url('/static/img/arrow-ltr-black.svg.10x15.png');
        }
    }
}