footer {
    @include rem(padding-top, 16px);

    border-top: solid $linkblue;
    @include rem(border-top-width, 1px);

    p {
        margin: 0;
        @include after {
            content: '☺';
        }
    }
}