{% extends 'layout/default.html' %}

{% block body %}
    <div class="wrapper">
        {% include 'modules/nav.html' %}
        <main>
            <h1>Woot!</h1>
            <p>This codebase is a blueprint environment to quick start new front-end projects. It contains a Node.js
                server with Express, Swig, Sass (scss syntax) and a Grunt build script.</p>
            <h2>Some reading to give you a quick start:</h2>
            {% include 'modules/articles.html' %}
        </main>
        {% include 'modules/footer.html' %}
    </div>
{% endblock %}