<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Front-End Library{% endblock %}</title>
    <meta name="application-name" content="{% block title %}Front-End Library{% endblock %}">
    <meta name="apple-mobile-web-app-title" content="{% block title %}Front-End Library{% endblock %}">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="{{ baseUrl }}static/css/all.css"><!--<![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" href="{{ baseUrl }}static/css/all-oldie.css"><![endif]-->

    {% include '../modules/favicon.html' -%}

    {# Shortest and fastest shim for ie-old html5 elements, add only the elements you need, or replace this with Modernizr #}
    <!--[if lt IE 9]><script>'article main footer'.replace(/\w+/g,function(n){document.createElement(n)})</script><![endif]-->
</head>
<body>

    {%- block body %}{% endblock -%}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ baseUrl }}static/js/vendor/jquery-2.0.3.min.js"><\/script>')</script>
    <script src="{{ baseUrl }}static/js/all.js"></script>
</body>
</html>
